.toplevel_page_clerk .alert.info {
	background-color: #2196F3;
	border-radius: 6px;
}

.toplevel_page_clerk .alert {
	padding: 20px;
	background-color: #f44336;
	color: white;
	opacity: 0.83;
	transition: opacity 0.6s;
	margin-bottom: 15px;
}

.toplevel_page_clerk .closebtn {
	padding-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 20px;
	line-height: 18px;
	cursor: pointer;
	transition: 0.3s;
}

.toplevel_page_clerk .close {
	position: relative;
	width: 1rem;
	height: 1rem;
	opacity: 0.4;
	display: block;
	min-width: 1rem;
	margin-left: 5px;
	margin-bottom: 2px;
	cursor: pointer;
}

.toplevel_page_clerk .close:hover {
	opacity: 1;
}

.toplevel_page_clerk .close:before, .toplevel_page_clerk .close:after {
	position: absolute;
	left: 0.5rem;
	content: ' ';
	height: 20px;
	width: 2px;
	background-color: #f44336;
}

.toplevel_page_clerk .red {
	color: #f44336;
}

.toplevel_page_clerk .close:before {
	transform: rotate(45deg);
}

.toplevel_page_clerk .close:after {
	transform: rotate(-45deg);
}

.toplevel_page_clerk #wpcontent {
	background-color: #f8f8f2;
	padding-left: 0.7rem;
}
.toplevel_page_clerk #wpcontent h1 {
	max-width: fit-content;
	font-weight: 900;
	font-family: roboto, sans-serif;
	padding: 1rem 1.5rem 1rem 2.5rem;
	transform: translateX(-1.5rem);
	background-color: #004576;
	border-radius: 5px;
	color: #f8f8f2;
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	filter: blur(0);
	transition: all 0.3s ease-in-out;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.toplevel_page_clerk #clerkLogoHeader {
	position: absolute;
	top: 32%;
	left: 0.5rem;
	transition:all 1s ease;
}

.toplevel_page_clerk #wpcontent h1:hover {
	background-color: #ff5c28;
}
.toplevel_page_clerk #wpcontent h1:hover #clerkLogoHeader{
	left:1.4rem;
	filter: drop-shadow(0 0 0.75rem white);
}
.toplevel_page_clerk #wpbody {
	background-color: #DEDEDE;
	padding-left: 1rem;
	border-left: 1px solid #1d2327;
}

.toplevel_page_clerk #wpbody form {
	background-color: #eee;
	padding: 0 1rem 1rem 1rem;
	border: 1px solid #1d2327;
	border-radius: 5px;
	margin-top: 1rem;
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}
.toplevel_page_clerk #wpbody label {
	cursor: default;
}

.toplevel_page_clerk #wpbody input[type="text"]{
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
	max-width: clamp(300px, 50%, 100%);
}

.toplevel_page_clerk #wpbody h2 {
	background: #1d2327;
	padding: 1rem;
	margin: 0 -1rem;
	color: white;
}

.toplevel_page_clerk #clerkFloatingSaveBtn {
	position: fixed;
	right: 3rem;
	top: 3rem;
	background: #2271b1;
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
	transition: all 0.3s ease;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 900;
	cursor: pointer;
	z-index: 99;
}
.toplevel_page_clerk #clerkFloatingSaveBtn:hover {
	background-color: #135e96;
}
.toplevel_page_clerk #submit {
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
	transition: all 0.3s ease;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 900;
	cursor: pointer;
}

.toplevel_page_clerk .facets_content_title_wrapper, .facets_lines {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 60px 40px;
	-ms-grid-columns: minmax(0, 1fr) minmax(0, 1fr) 60px 40px;
	padding: 5px 0px;
}

.toplevel_page_clerk .facets_lines > div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 8px 0px;
}

.toplevel_page_clerk .faceted_enabled {
	margin: 0 0 0 5px !important;
}

.toplevel_page_clerk .facets_content_title_wrapper > div {
	font-weight: 800;
}

.toplevel_page_clerk .facets_table {
	min-width: fit-content;
	max-width: clamp(300px, 50%, 100%);
}

.toplevel_page_clerk #multi-lang-data {
  	display: none !important;
}

.toplevel_page_clerk h1 {
	font-family: Arial, sans-serif;
}

.toplevel_page_clerk .clerk_hidden {
	display: none !important;
}

.toplevel_page_clerk #wpbody .facets_position {
	max-width: 2rem !important;
}

.toplevel_page_clerk #wpbody .force-sync {
	display: flex;
	border-radius: 0.25rem;
	border-color: #1d2327;
	border-width: 1px;
	border-style: solid;
	background-color: #1d2327;
	color: #eeeeee;
	cursor: pointer;
	float: right;
	padding: 0.25rem;
	transition: all 0.2s ease-in-out;
}
